.App {
	min-height: 100vh;
	background-color: #282c34;
	color: white;
	padding-left: 1vw;
	padding-right: 1vw;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	height: 3vh;
}

.Page-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
}

.App-body {
	display: flex;
	flex-direction: column;
	min-height: 94vh;
}

.App-footer {
	display: flex;
	flex-direction: column;
	text-align: right;
	height: 3vh;
}

a {
	color: white;
}
